  
  
.home-wrapper {
margin: ($base-size * 3.5) auto;
padding: ($base-size * 6) ($base-size * 4);
background: $color-light;
border-bottom: 1px solid lighten($color-dark, 70%);
border-radius: $radius;
}

.option_links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;


    .option-wrapper, .option-opening{
        height: 115px;

        border-radius: $radius;

        span:first-of-type{
            font-family: 'Oswald';
            font-size: 26px;
            text-transform: uppercase;
        }
    }

    .option-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49%;

        &.order{
            background-image: url('../../images/mainPage/pizza-1.jpg');
            background-position: center;
            background-size: cover;
        }

        &.book{
            background-image: url('../../images/mainPage/pizza-2.jpg');
            background-position: center;
            background-size: cover;
        }

        a{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;

            span{
                position: absolute;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;

                transition: all 0.4s ease;
            }
        }

    }

    .option-wrapper:hover span{
        transform: translate(-50%, -80%);
    }

    .option-opening{
        background-color: $color-main;
        width: 100%;

        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span{
            color: white;
        }

        span:nth-child(2){
            font-family: 'Lato';
            font-size: 14px;
            text-transform: uppercase;
        }
        
    }
}

/* Quotes Carousel */

.quotes .single-quote{

    margin: 60px 0;
    padding: 20px 0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;



    .quote-image{
        flex-shrink: 0;
        border-radius: $radius;
        width: 190px;
        height: 190px;

        overflow: hidden;



        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .quote{
        font-family: 'Lato';
        font-size: 14px;
        line-height: 23px;

        padding: 0 20px;
    }
}